---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SG3cNKDCOzB0jwTHCjXvY7HQaZ9PeS3iy88jfrHPWoc54snvAfCY-3M8IVkTjEYvhsWf-y7zeL-9CMHowp7yGomBbXgsCcHt57-S_5gmS5aTDhmjtObjDFBcpdekZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 266196da3cb24e8d
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-gtk45; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '447.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-166-92-useast1bprod
      X-Extlb:
      - 10-65-166-92-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "YDgsb390pfWXEM5wLb_OvA", "alias": "mariscos-el-charco-denver",
        "name": "Mariscos El Charco", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wYLPVIO-YlXJjTqbKB_HXw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mariscos-el-charco-denver?adjust_creative=brR3_xcVublpFQ4Am1iO_g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=brR3_xcVublpFQ4Am1iO_g",
        "review_count": 2, "categories": [{"alias": "mexican", "title": "Mexican"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "cocktailbars", "title":
        "Cocktail Bars"}], "rating": 5.0, "coordinates": {"latitude": 39.70836558104332,
        "longitude": -104.9301141}, "transactions": ["restaurant_reservation"], "location":
        {"address1": "4978 Leetsdale Dr", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80246", "country": "US", "state": "CO", "display_address":
        ["4978 Leetsdale Dr", "Denver, CO 80246"]}, "phone": "+13034848552", "display_phone":
        "(303) 484-8552", "distance": 4571.678529691329}, {"id": "fbb7fsCGVMVkavIMm7_8KQ",
        "alias": "taqueria-la-familia-denver", "name": "Taqueria La Familia", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/VkLvsnLvRTKncPKmBqJxfQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/taqueria-la-familia-denver?adjust_creative=brR3_xcVublpFQ4Am1iO_g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=brR3_xcVublpFQ4Am1iO_g",
        "review_count": 457, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 39.761887, "longitude": -105.020065},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "2642
        W 32nd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80211", "country": "US", "state": "CO", "display_address": ["2642 W 32nd
        Ave", "Denver, CO 80211"]}, "phone": "+13034332332", "display_phone": "(303)
        433-2332", "distance": 5170.503059518083}, {"id": "WTe8uL6vF1ZuKAeJIvxR8w",
        "alias": "la-loma-denver-denver", "name": "La Loma | Denver", "image_url":
        "https://s3-media4.fl.yelpcdn.com/bph[...]
