---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?hour=15&q=39.7392%20-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 8b14dfe594c84836806203937241301
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999955'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/17/2024 02:41:14
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e2860d7586ce985e3165f812d69d0d60
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1705459234,"localtime":"2024-01-16
        19:40"},"current":{"last_updated_epoch":1705458600,"last_updated":"2024-01-16
        19:30","temp_c":-5.0,"temp_f":23.0,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":130,"wind_dir":"SE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"humidity":52,"cloud":75,"feelslike_c":-7.8,"feelslike_f":17.9,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":12.5,"gust_kph":20.2},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-0.5,"maxtemp_f":31.2,"mintemp_c":-20.1,"mintemp_f":-4.2,"avgtemp_c":-11.0,"avgtemp_f":12.2,"maxwind_mph":6.5,"maxwind_kph":10.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":79,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.0},"astro":{"sunrise":"07:19
        AM","sunset":"05:01 PM","moonrise":"10:41 AM","moonset":"11:30 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705442400,"time":"2024-01-16
        15:00","temp_c":-1.5,"temp_f":29.3,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.6,"wind_kph":5.8,"wind_degree":156,"wind_dir":"SSE","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":58,"cloud":18,"feelslike_c":-3.8,"feelslike_f":25.1,"windchill_c":-3.8,"windchill_f":25.1,"heatindex_c":-1.5,"heatindex_f":29.3,"dewpoint_c":-7.6,"dewpoint_f":18.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":5.1,"gust_kph":8.3,"uv":2.0,"short_rad":429.32,"diff_rad":149.71}]}]}}'
  recorded_at: Wed, 17 Jan 2024 02:41:14 GMT
recorded_with: VCR 6.2.0
